.footer {
  padding-top: 40px;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.footer-item__title {
  color: #fff;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
}
.footer-item__link-wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.first {
  margin: 40px 0 40px 0;
}
.footer-item__email {
  color: #f1cdb3;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
}
@media (max-width: 768px) {
  .footer__inner {
    justify-content: center;
  }
}
